<div class="game-resources" [ngSwitch]="sideAdjustment">
    <div class="row" *ngSwitchCase="RESOURCES_SIDE.LEFT">
        <div class="col-6 align-self-center">
            <img src="{{imgName}}" class="game-resources-image"/>
        </div>
        <div class="col-6">
            <game-resources-label [title]="'game.resources.growth'" [value]="growth">
            </game-resources-label>
            <game-resources-label [title]="'game.resources.state'" [value]="state">
            </game-resources-label>
        </div>
    </div>
    <div class="row" *ngSwitchCase="RESOURCES_SIDE.RIGHT">
        <div class="col-6">
            <game-resources-label [title]="'game.resources.growth'" [value]="growth">
            </game-resources-label>
            <game-resources-label [title]="'game.resources.state'" [value]="state">
            </game-resources-label>
        </div>
        <div class="col-6 align-self-center">
            <img src="{{imgName}}" class="game-resources-image"/>
        </div>
    </div>
</div>