<div class="row game-howtoplay-container">
    <div class="col-3"></div>
    <div class="col-6">
        <p class="ui-border">{{MESSAGES_MAP.gameHowToPlayGameGoal | translate}}</p>
        <p class="ui-border">{{MESSAGES_MAP.gameHowToPlayResources | translate}}</p>
        <p class="ui-border">{{MESSAGES_MAP.gameHowToPlayCard | translate}}</p>
        <p class="ui-border">{{MESSAGES_MAP.gameHowToPlayControl | translate}}</p>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <button class="btn btn-primary btn-block font-weight-bold ui-button ui-border"
                    routerLink="{{BACK_PATH}}">
                    {{MESSAGES_MAP.gameHowToPlayBack | translate | uppercase}}
                </button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="col-3"></div>
</div>