<div class="game-resource" [ngSwitch]="sideAdjustment">
    <div class="row" *ngSwitchCase="RESOURCES_SIDE.LEFT">
        <div class="col-6 align-self-center">
            <img src="{{imgName}}" class="game-resource-image"/>
        </div>
        <div class="col-6">
            <game-resource-label [title]="RESOURCES_GROWTH_PREFIX + resourceKind" [value]="growth">
            </game-resource-label>
            <game-resource-label [title]="RESOURCES_STATE_PREFIX + resourceKind" [value]="state">
            </game-resource-label>
        </div>
    </div>
    <div class="row" *ngSwitchCase="RESOURCES_SIDE.RIGHT">
        <div class="col-6">
            <game-resource-label [title]="RESOURCES_GROWTH_PREFIX + resourceKind" [value]="growth">
            </game-resource-label>
            <game-resource-label [title]="RESOURCES_STATE_PREFIX + resourceKind" [value]="state">
            </game-resource-label>
        </div>
        <div class="col-6 align-self-center">
            <img src="{{imgName}}" class="game-resource-image"/>
        </div>
    </div>
</div>